/* Icon1 */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
/* Icon2 */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+outlined");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black
}

nav {
  display: flex;
  padding: 20px 50px;
  align-items: baseline;
  background-color: lightgray;
}
nav .sitename {
  margin-right: 50px;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
  color: rgb(14, 158, 14);
}
nav .navs {
  display: flex;
}

nav .navcart {
  margin-left: 40%;
}
nav .navs a {
  padding: 5px 15px;
}
nav .navs a:hover {
  background-color: lightgray;
  border-radius: 15px;
}

.orderid {
  margin-top: 30px;
}

aside {
  height: fit-content;
  padding: 30px;
  background-color: lightgray;
  border-radius: 20px;
  width: 30%;
  float: right;
  margin-right: 20px;
}

td.confirm {
  font-size: larger;
  padding: 20px 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

td {
  padding: 10px 0;
}

.alamat {
  color: blue;
}
